<main>

    {{!-- form --}}
    <div class="container" >
        <div class="row">
            <div class="col-6 offset-3 ">
                <form action="/register" method="post" enctype="multipart/form-data">
                    <input type="text" name="name" class="form-control" placeholder="product name">
                    <input type="number" name="price" class="form-control" placeholder="product price">
                    <input type="file" name="img" class="form-control">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>

    {{!-- product lists --}}
    <div class="container">
        <div class="row">
            {{#each products}}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <img src="../images/{{image_url}}" alt="not found">
                    <div class="texts">
                        <p>{{name}}</p>
                        <p>R${{price}}</p>
                    </div>
                    <a href="#" class="btn btn-warning">edit</a>
                    <a href="#" class="btn btn-danger">delete</a>
                </div>
                </div>
            {{/each}}
        </div>
    </div>
</main>