<main>

    {{!-- form --}}
    <div class="container" >
        <div class="row">
            <div class="col-6 offset-3 ">
                <form action="/register" method="post">
                    <input type="text" name="name" class="form-control" placeholder="product name">
                    <input type="number" name="value" class="form-control" placeholder="product price">
                    <input type="file" name="img" class="form-control">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>

</main>